@font-face {
    font-family: 'Volkron';
    src: local('Volkron'),
        url(../fonts/VollkornExtrabold-eZ2ep.otf) format('truetype');
}

@font-face {
    font-family: 'Franklin';
    src: url(../fonts/LibreFranklin-VariableFont_wght.ttf);
}

body {
    --connections-main: #b3a7fe;
    --connections-light: rgb(184, 175, 246);

    --wordle-main: #58a351;
    --wordle-light: rgb(156, 196, 152);

    margin: 0;
    font-family: 'Franklin';
    /* __inter_20b187, __inter_Fallback_20b187, ui-sans-serif,
        system-ui, -apple-system, 'system-ui', 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2 {
    font-family: 'Volkron';
}

h3,
h4,
h5,
h6 {
    font-family: 'Volkron';
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #333;
    color: #f3f3f3;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Franklin';
    font-weight: 500;
}

button:hover {
    background-color: #444;
}

textarea {
    resize: none;
    font-family: 'Franklin';
    font-size: 1rem;
}
